*{box-sizing: border-box;}

html, body {margin: 0; padding: 0;}

body {
	background-image: url("22129.jpg");
	font-family: "Open Sans", arial, sans-serif;
}

#khung {
	position: relative;
	top: 10vh;
	left: 60vw;
	border: 1px solid #3d95da;
	background-color: #eaeaea;
	height: 80vh;
	width: 30vw;
	overflow: hidden;
}

#man_hinh {
	overflow: hidden;
	background-color: #eaeaea;
	margin: 5px;
	height: 20vh;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.25);
	padding-right: 10px;
	text-align: right;
	line-height: 20vh;
	font-size: 30px;
}

.phim_bam {
	overflow: hidden;
	display: flex;
	margin: 5px;
	height: calc(80vh - 20vh - 15px);
	text-transform: uppercase;
}

.cot1 {
	flex: 1;
	margin-right: 2.5px;
}
.cot2, .cot3 {
	flex: 1;
	margin-right: 2.5px;
	margin-left: 2.5px;
}
.cot4 {
	flex: 1;
	margin-left: 2.5px;
}

.pheptinh, .so, .xoa, .ketqua {
	margin-bottom: 5px;
	height: calc(((80vh - 20vh - 15px) - 25px) / 6);
	text-align: center;
	line-height: calc(((80vh - 20vh - 15px) - 25px) / 6);
	font-size: 24px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.25)
}

.pheptinh, .xoa, .ketqua {
	background-color: #f2f2f2;
}

.so {
	background-color: #fbfbfb;
}

.pheptinh:hover, .xoa:hover, .ketqua:hover, .so:hover {
	background-color: #c3c3c2;
}